<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="<{$res}>/css/public.css" />
	</head>
	<body>
		<form action="<{$url}>/edit" method="post">
			<input type="hidden" name="id" value="<{$page.id}>" />
		<table class="table">
			<caption>单页编辑</caption>
			<tr>
				<td>标题</td>
				<td><input type="text" name="title" value="<{$page.title}>" style="width:260px;" /></td>
			</tr>
			<tr>
				<td>点击量</td>
				<td><input type="text" name="click" value="<{$page.click}>" style="width:200px;" /></td>
			</tr>

			<tr>
				<td>关键字</td>
				<td><input type="text" name="keywords" value="<{$page.keywords}>" style="width:260px;" /></td>
			</tr>
			<tr>
				<td>描述</td>
				<td><textarea cols="55" rows="5" name="description"><{$page.description}></textarea></td>
			</tr>

			<tr>
				<td>内容</td>
				<td><textarea cols="65" rows="10" name="body"><{$page.body}></textarea></td>
				<{$ck}>
			</tr>

			<tr>	
				<td colspan="2"> <input type="submit" class="bt2" /></td>
			</tr>
		</table>
		</form>
	</body>
</html>