<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="<{$res}>/css/public.css" />
	</head>
	<body>
		<form action="<{$url}>/update" method="post">
			<input type="hidden" name="id" value="<{$id}>" />
			<table class="table">
				<caption>栏目编辑</caption>
				<tr>
					<td colspan="5">  <{ if $mess eq "error" }><span style="color:red;">×</span> <{ /if }><{ if $mess eq "ok" }> <span style="color:green;">√</span> <{ /if }> <{ $tmess }></td>
				</tr>
				<tr>
					<td>栏目名称</td>
					<td><input type="text" name="cname" value="<{$cate['cname']}>" /> </td>
				</tr>
				<tr>	
					<td>栏目SEO关键字</td>
					<td><input type="text" name="keywords" value="<{$keywords}>" style="width:300px;"/></td>
				</tr>
				<tr>
					<td>栏目描述</td>
					<td><textarea cols="65" rows="5" name='description'><{$description}></textarea></td>
				</tr>
				<tr text-align="center">
					<td colspan="2" text-align="center">
						<input type="submit" class="bt2" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>