<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="<{$res}>/css/public.css" />
	</head>
	<body>
		<form action="<{$url}>/edit" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" value="<{$goods.id}>" />
			<table class="table">
				<caption> 商品修改 </caption>
				<tr>
					<td>名称</td>
					<td><input type="text" name="name" value="<{$goods.name}>" style="width:270px;" /></td>
				</tr>

				<tr>
					<td>所属分类</td>
					<td> <{$selectForm}> </td>
				</tr>
				<tr>
					<td>商品价格</td>
					<td><input type="text" name="price" value="<{$goods.price}>" style="width:270px;" /></td>
				</tr>

				<tr>	
					<td>缩略图</td>
					<td style="position:relative">
						<input type="file" name="pic" />
						<{if $goods.pic neq '' }>
							<img src="/public/uploads/<{$goods.pic}>" width="150" style="position:absolute ;top: -60px;left: 500px;" />
							<input type="hidden" name="oldPic" value="<{$goods.pic}>" />
						<{/if}>
					</td>
				</tr>

				<tr>
					<td>关键字</td>
					<td><input type="text" name="keywords" value="<{$goods.keywords}>" style="width:270px;" /></td>
				</tr>

				<tr>	
					<td>库存量</td>
					<td><input type="text" name="num" value="<{$goods.num}>" style="width:270px;" /></td>
				</tr>
				<tr>	
					<td>商品描述</td>
					<td><textarea cols="65" rows="8" name="description"><{$goods.description}></textarea></td>
					<{$ck}>
				</tr>

				<tr align="center">
					<td colspan="2"><input type="submit" class="bt2"></td>
				</tr>
			</table>
		</form>
	</body>
</html>