<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="<{$res}>/css/login.css" />
		<script type="text/javascript" src="<{$res}>/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="<{$res}>/js/login.js"></script>
	</head>
	<body onload="document.getElementById('login').username.focus()">
		<div id="top">

		</div>
		<div class="login">	
			<form action="<{$url}>/login" method="post" id="login">
			<div class="title">
				fafaseo.com | 登录后台
			</div>
			<table border="1" width="100%">
				<tr>
					<th>管理员帐号:</th>
					<td>
						<input type="text" name="username" class="len250"/>
					</td>
				</tr>
				<tr>
					<th>密码:</th>
					<td>
						<input type="password" class="len250" name="password"/>
					</td>
				</tr>
				<tr>
					<th>验证码:</th>
					<td>
						<input type="text" class="len250" name="code" onkeyup="if (this.value != this.value.toUpperCase()) this.value=this.value.toUpperCase();" /> <img src="<{$url}>/vcode" onclick="this.src='<{$url}>/vcode/' + Math.random()" style="cursor:pointer;" />
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-left:160px;"> <input type="submit" class="submit" value="登录"/></td>
				</tr>
			</table>
		</form>
	</div>
	</body>
</html>