<html>
<head>
	<title>index</title>
</head>
<body>


<div id="header"></div>

<div id="main">
	<div class="resume">
		<dl>
			<dt>姓名</dt>
			<dd>描述</dd>
			<dd>描述二</dd>
			<dd>描述三</dd>
		</dl>
	</div>
	<div class="blog">

		<dl>
			<dt>title</dt>
			<dd>描述</dd>
		</dl>

		<dl>
			<dt>title</dt>
			<dd>描述</dd>
		</dl>

		<dl>
			<dt>title</dt>
			<dd>描述</dd>
		</dl>

		<dl>
			<dt>title</dt>
			<dd>描述</dd>
		</dl>
		
		<dl>
			<dt>title</dt>
			<dd>描述</dd>
		</dl>

	</div>

</div>

<div id="footer"></div>


</body>
</html>